

{% block contenido %}
<div align="center">
	<form method="post"> 
	{% csrf_token %}
	<div class="form-group">
    <label for="{{form.idTransaccion.name}}" class="col-sm-2 control-label">{{form.idTransaccion.label}}</label>
   		 <div class="col-xs-3">
      		{{form.idTransaccion}}
    	</div>
  	</div>
  	<div class="form-group">
    <label for="{{form2.fkCuenta.name}}" class="col-sm-2 control-label">{{form2.fkCuenta.label}}</label>
   		 <div class="col-xs-3">
      		{{form2.fkCuenta}}
    	</div>
  	</div>
      <div class="form-group">
    <label for="{{form2.monto.name}}" class="col-sm-2 control-label">{{form2.monto.label}}</label>
       <div class="col-xs-3">
          {{form2.monto}}
      </div>
    </div>

  	<div class="form-group">
     <label for="{{form3.fkCuenta.name}}" class="col-sm-2 control-label">{{form3.fkCuenta.label}}</label>
   		 <div class="col-xs-3">
      		{{form3.fkCuenta}}
    	</div>
  	</div>

     <div class="form-group">
    <label for="{{form3.monto.name}}" class="col-sm-2 control-label">{{form3.monto.label}}</label>
       <div class="col-xs-3">
          {{form3.monto}}
      </div>
    </div>




	<button type="submit">Guardar</button>
	</form>
</div>
{% endblock %}