{%extends "base/base.html"%}
{%block contenido%}

<html>

<link rel="stylesheet" type="text/css" href="/static/css/estiloT.css"/>
<script type="text/javascript" src="/static/js/imprimir.js"></script>

 <div class="contenedor">
	<div id="pestanas">

		<table class="bas">
			<tr>
				<td>
					<p>¡Bienvenido!</p>
					<p>Seleccione las opciones deseadas en el siguiente formulario</p>
				</td>
				<td>
					<form class="formu" action="{% url "informes:indexinf"%}" method="POST">
					{% csrf_token %}
					{{form.as_p}}
					<button type="submit" value="submit" class="boton">Obtener informe</button>
					</form>
				</td>
			</tr>
		</table>


	</div>

 </div>


</html>

{%endblock contenido%}