#izquierda{
	float: left;
	padding: 10px;
	width: 400px;
	margin: 40px;
}
#derecha{
	float: right;
	padding: 10px;
	width: 400px;
	margin: 40px;
}
#fondo{
	position: absolute;
	bottom: 650px;
	padding: 10px;
	left: 50px;
}