body {
    background: darkgrey;
}

.contenedor{
    width: 1250px;
    margin: auto;
    background: black;
    color: Green;
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

.contenedor .titulo{
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: 0px;
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 10px 2px -2px -0px;
    background: darkgrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid bisque;
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: DarkBlue;
}

#contenidopestanas{
    clear: both;
    color: Black;
    background: dimgray;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid bisque;
    width: 1200px;
}


#tableprin {
   width: 99%;
   border: 1px solid #000;
   border-radius: 10px;
}

#tableprin td {
   border-radius: 10px;
   width: 10%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}

#tablepe {
   width: 99%;
   border: 1px solid #000;
   border-radius: 10px;
}

#tablepe td {
   border-radius: 10px;
   width: 10%;
   text-align: left;
   vertical-align: top;
   border: 1px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
}

caption {
   padding: 0.3em;
}