body {
    background: darkgrey;
}

.contenedor{
    width: 1200px;
    margin: auto;
    background: black;
    color: white;
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

.contenedor .titulo{
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: 0px;
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 10px 2px -2px -0px;
    background: darkgrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid bisque;
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: DarkBlue;
}

#contenidopestanas{
    clear: both;
    color: Black;
    background: dimgray;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid bisque;
    width: 1200px;
}

table.blueTable {
  font-family: "Arial", cursive, sans-serif;
  border: 2px solid #4F7849;
  background-color: #EEEEEE;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
  border: 1px solid #4F7849;
  padding: 3px 2px;
}
table.blueTable tbody td {
  font-size: 19px;
  font-weight: bold;
  color: #4F7849;
}
table.blueTable tr:nth-child(even) {
  background: #CEE0CC;
}
table.blueTable tfoot {
  font-size: 21px;
  font-weight: bold;
  color: #FFFFFF;
  background: #4F7849;
  background: -moz-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: -webkit-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  border-top: 1px solid #444444;
}
table.blueTable tfoot td {
  font-size: 21px;
}

table.blueTable thead {
  font-size: 21px;
  font-weight: bold;
  color: #FFFFFF;
  background: #4F7849;
  background: -moz-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: -webkit-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  border-top: 1px solid #444444;
}
table.blueTable thead td {
  font-size: 21px;
}

table.greyGridTable {
  border: 2px solid #FFFFFF;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.greyGridTable td, table.greyGridTable th {
  border: 1px solid #FFFFFF;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  background: #EBEBEB;
  font-size: 13px;
}
table.greyGridTable td:nth-child(even) {
  background: #EBEBEB;
}
table.greyGridTable thead {
  background: #EBEBEB;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: none;
}

table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
}
table.greyGridTable tfoot td {
  font-size: 14px;
  background: #A4A4A4;
}

table.imprimir {
  font-family: Arial, Helvetica, sans-serif;
  text-align: right;
  font-size: 12px;
  width:100%;
}
table.imprimir td, table.imprimir th {
  border: 0px solid #AAAAAA;
  padding: 1px 4px;
  font-size: 12px;
  width:100%;
}
table.imprimir tbody td {
  font-size: 12px;
   width: 100%;}


.boton{
    background-color: #4F7849;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align:center;
    text-decoration:none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 10px;
    margin-left: 85%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.boton:hover{
    background-color: green;
    color:white;
}

table.bas {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 100%;

}
table.bas td, table.bas th {
  border: 0px solid #AAAAAA;
  padding: 1px 4px;
  border-radius: 12px;
}
table.bas tbody td {
  font-size: 20px;}

table.bas tfoot {
  font-size: 20px;
  font-weight: bold;
  color: #FFFFFF;
  background: #4F7849;
  background: -moz-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: -webkit-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  border-top: 1px solid #444444;
}
table.bas tfoot td {
  font-size: 20px;
}




 table.blueTable2 {
 margin-top: 0px;
  align:top;
  font-family: "Arial", cursive, sans-serif;
  border: 2px solid #4F7849;
  background-color: black;
  width: 90%;
  text-align: center;
  border-collapse: collapse;
}
table.blueTable2 td, table.blueTable2 th {
  margin-top: 0px;
  align:top;
  border: 1px solid #4F7849;
  padding: 1px 2px;
  font-size: 1px;
}
table.blueTable2 tbody td {
  align:top;
  margin-top: 0px;
  font-size: 14px;
  font-weight: bold;
  color: #4F7849;
  background: white;
}
table.blueTable2 tr:nth-child(even) {
  margin-top: 0px;
  align:top;
  background: white;
}
table.blueTable2 tfoot {
  font-size: 16px;
  font-weight: bold;
  color: #FFFFFF;
  background: #4F7849;
  background: -moz-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: -webkit-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  border-top: 1px solid #444444;
}
table.blueTable2 tfoot td {
  font-size: 16px;
}

table.blueTable2 thead {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  background: #4F7849;
  background: -moz-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: -webkit-linear-gradient(top, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  background: linear-gradient(to bottom, #7b9a76 0%, #60855b 66%, #4F7849 100%);
  border-top: 1px solid #444444;
}
table.blueTable2 thead td {
  font-size: 16px;
}