#log{
	font-size: 12px;
	background-color: 	 #060606;
}

#Contenedor{
	width: 400px;
	margin: 50px auto;
	background-color: #E3DAC9;
        border: 1px solid #ECE8E8;
	height: 400px;
	border-radius:8px;
	padding: 0px 9px 0px 9px;
}
.opcioncontra{
	text-align: center;
	margin-top: 20px;
	font-size: 14px;
}
 
@media only screen and (max-width:320px){
#Contenedor{
	width: 100%;
	height: auto;
	margin: 0px;
}
 }
@media only screen and (max-width:240px){}