{%extends "base/base.html"%}
{% block contenido %}

	<link rel="stylesheet" type="text/css" href="/static/css/cuenta.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/cuenta-theme.min">
	<table style="width:80%; margin-left:90px " class="table table-hover">
		<thead>
			<tr>
				<td>Categoria</td>
				<td>Codigo</td>
				<td>Nombre</td>
				<td>Existencia</td>
				
				
				
			</tr>
			
		</thead>
		<tbody>
		{% if listinventario %}
			{% for i in listinventario %}
		
		<tr>
			<td>{{ i.fkCategoría.nombre }}</td>
			<td>{{ i.codigo }}</td>
			<td>{{ i.nombre }}</td>
			<td>{{ i.existencia }}</td>
			
			<td>
				<a class="btn btn-primary" href="{% url 'inventario_editar' i.codigo %}">Editar</a>
				<a class="btn btn-danger" href="{% url 'inventario_eliminar' i.codigo %}">Eliminar</a>	
			</td>
			
		</tr>	
			{% endfor %}
		{% else %}
		No hay cuentas registradas
		{% endif %}	
		</tbody>
	</table> 
<script  type="text/javascript" src="/static/js/cuenta.min.js"></script>
<script  type="text/javascript" src="/static/js/jquery.min.js"></script>

{% endblock %}

	
